site_name: polars-bio
nav:
  - Home: index.md
  - Quickstart: quickstart.md
  - Tutorial: notebooks/tutorial.ipynb
  - API reference: api.md

plugins:
  - mkdocs-jupyter:
      execute: true
      allow_errors: false
  - mkdocstrings:
      default_handler:
      python:
        options:
          docstring_style: google
theme:
  name: material
  features:
    - content.code.copy
    - content.code.select
    - content.code.annotate

extra:
  version:
    provider: mike

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences